.header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 40px;
}

.header__links-list {
    display: flex;
    gap: 20px;
    list-style-type: circle;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    text-underline-position: under;
}

.header__links-list-item {
    padding-right: 14px;
}

.header__links-list-item_no-bullet {
    list-style-type: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo-image {
    height: 105px;
}

.header__address {
    justify-self: end;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-position: under;
    padding-right: 45px;
}

.cover {
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-transform: uppercase;
    color: white;
    z-index: -2;
    padding: 165px 0px 51px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: -1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    padding: 0px 50px;
    letter-spacing: 0.3em;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    line-height: 136px;
}

.aligned-text_right {
    text-align: right;
    line-height: 102px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: initial;
}

.cover__description {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 78px;
    
}

.cover__description-text {
display: block;
word-spacing: 18.5px;
font-size: 22px;
}

.bet-button {
    background-color: transparent;
    color: white;
    border: 1px solid;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    padding: 12px 32px 11px 31px;
    text-transform: uppercase;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    padding: 178px 915px 25px 64px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.lots__card-list-item {
    display: flex;
    padding-left: px;
    width: 336px;
    height: 563px;
}

.card-link {
    color: white;
    text-decoration: none;
}

.card {
    width: 334px;
    height: 563px;
    color: white;
    padding: 51px 40px 48px;
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card__title {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness:  1px;
    font-size: 22px;
    font-weight: 26.4px;
}

.card__text {
    font-size: 20px;
    line-height: 24px;
}

.card_type_film {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    display: flex;
    flex-direction: column;
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    line-height: 23.48px;
    padding-top: 32px;
    padding-left: 64px;
    text-underline-position: under;
}

.about {
    display: grid;
    grid-template-columns: 383px 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 146px;
    padding-right: 24px;
}

.about__column {
    display: flex;
    justify-content: center;
    padding-top: 37px;
    grid-row: span 2;
}

.about__logo {
    display: flex;
    background-color: black;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 137px;
    padding-bottom: 100px;
}

.about__text {
    display: flex;
    flex-wrap: wrap;
    grid-row: span 2;
}

.paragraph-text {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.paragraph-text-one {
    letter-spacing: 0.004em;
    padding-bottom: 25px;
}

.paragraph-text-two {
    letter-spacing: 0.002em;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 180px 52px 88px;
}

.footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-position: under;
}

.footer__menu {
    padding-left: 40px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    text-underline-position: under;
    align-items: center;
}

.footer__menu-list-item {
    font-size: 18px;
    width: 400;
    line-height: 21.13px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
}

.footer__social-list-item {
    list-style-type: none;
    width: 48px;
    height: 48px;
}